* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-image: url('../assets/Animation\ \(1\).png');
    background-repeat: no-repeat;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #2F3137;
    padding: 90px 0px 5px 90px;
}

.job-title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.1em;
    color: #2F80ED;
    padding: 5px 0px 5px 90px;
}

.arrow {
    padding: 20px 0px 5px 110px;
}

.sub-text {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 76px;
    letter-spacing: 0.1em;
    color: rgba(130, 130, 130, 1);
    padding: 0px 0px 5px 185px;
}

.work {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 76px;
    letter-spacing: 0.1em;
    color: #333333;
    padding: 20px 0px 5px 185px;
}

.work:hover{
    opacity: 0.28;
    transition: 0.3s;
    cursor: default;
}

.contact {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #4F4F4F;
    padding: 90px 0px 100px 90px;
}

.email {
    padding-bottom: 25px;
}

.link {
    color: #4F4F4F;
}

.link:hover {
    opacity: 0.28;
    transition: 0.3s
}

.custom-icon {
    color: #4F4F4F;
    padding-top: 40px;
}

.custom-icon:hover {
    opacity: 0.28;
    transition: 0.3s
}

.copyright {
    top: 0;
    bottom: 0;
    position: relative;
    z-index: 5;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AAAAAA;
}

.design {
    font-size: 10px;
}

i{
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-animation: 'screen'  infinite;
  animation: 'screen'  infinite;
}


i:nth-child(2){
  top:20px;
  left:30px;
    background: -webkit-radial-gradient(center, ellipse cover,  #9adff0 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 0px 0px #5EC5DF;
  animation-duration: 5s;
}

i:nth-child(3){
  top:420px;
  left:300px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgb(228, 188, 119) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 0px 0px #FFA528;
  animation-duration: 4s;
}

i:nth-child(4){
  top:550px;
  left:880px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgb(186, 229, 183) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 0px 0px #B0C173;
  animation-duration: 3s;
}

i:nth-child(5){
  top:5px;
  left:1030px;
  background: -webkit-radial-gradient(center, ellipse cover,  rgb(229, 194, 222) 0%,rgba(0,0,0,0) 100%);
  box-shadow:0px 0px 0px 0px #FF6677;
  animation-duration: 4s;
}
  
  
  @keyframes screen {
    from {
      opacity: 0;
    }
  
    25%{
      opacity: 0.3;
      transform: scale3d(3, 3, 4);
    }
  
    50%{
      opacity: 0.75;
    }
  
    75%{
      opacity: 1;
  
    }
  
    to{
      opacity: 0;
    }
  }
