* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #2F3137;
    padding: 90px 0px 5px 90px;
}

.job-title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.1em;
    color: #2F80ED;
    padding: 5px 0px 5px 90px;
}

.arrow {
    padding: 20px 0px 5px 110px;
}

.sub-text {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 76px;
    letter-spacing: 0.1em;
    color: rgba(130, 130, 130, 1);
    padding: 0px 0px 5px 185px;
}

.work {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 76px;
    letter-spacing: 0.1em;
    color: #333333;
    padding: 20px 0px 5px 185px;
}

.work:hover {
    opacity: 0.28;
    transition: 0.3s
}

.contact {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #4F4F4F;
    padding: 90px 0px 100px 90px;
}

.email {
    padding-bottom: 25px;
}

.link {
    color: #4F4F4F;
}

.copyright {
    top: 0;
    bottom: 0;
    position: relative;
    z-index: 5;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #AAAAAA;
}

.design {
    font-size: 10px;
}